:root {
    --dk-grey: rgba(35, 40, 48, 1);
    --cherry: rgba(255, 117, 117, 1);
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(144, 144, 144, 1);

    /* Recursive Font Family with Fallbacks */
    --fonts: "Recursive", sans-serif;
}

body {
    background-color: var(--dk-grey);
    margin: 0;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9rem;
}

header h1 {
    color: var(--white);
    font-family: var(--fonts);
}

nav  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}


nav a {
    color: var(--white);
    font-family: var(--fonts);
    text-decoration: none;
}

main > section { 
    padding: 1rem 0; 
}

#front-page {
    text-align: center;
    margin: 1rem 0;

}

#front-page img {
    display: block;
    margin: 1rem auto;
}

#front-page h2 {
    font-family: var(--fonts);
    color: var(--cherry);
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#front-page h3 {
    font-family: var(--fonts);
    color: var(--white);
    font-weight: 350;
}

#bar-section ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding: 0.5rem 0;
    margin: 0;
    border-top: 1px solid var(--gray);

}

#bar-section li {
    margin: 0;
}

#bar-section a {
    color: var(--gray);
    font-family: var(--fonts);
    text-decoration: none;
    font-style: italic
}

#bar-section a:hover {
    background-color:yellow;
    transition: background-color 0.8s ease;
}

.three-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
    padding: 0 5rem;
}

.info-cards {
    background-color: var(--white);
    flex: 1;
    border-radius: 20px;
    padding: 1rem;
}

.info-cards > img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    object-fit: cover;    
}

.info-cards p, 
.info-cards h4 {
    font-family: var(--fonts)

}

/* 
width: 100%;
height: 150px;
object-fit: cover;
    */


